.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2){
    color: var(--pink);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}

.i-button{
    width: 6rem;
    height: 2rem;
}

.i-icons{
    margin-top: 2rem;
    display: flex;
    gap: 0;
}

.i-icons>*{
    transform: scale(0.4);
}

.i-icons>*:hover{
    cursor: pointer;
}











.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.74);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2){
    transform: scale(0.77);
    left: -3rem;
    top: -4.6%;
}

.i-right>:nth-child(3){
    transform: scale(1.4);
    left: 28%;
}